{% extends "includes/base_info_page.html"%}

{% block main %}
<div id="banner-img">
	<img src="/static/img/banner-spa.png" alt="">
</div>
<div id="info_block">
	<div class="centered-body">
		<div class="info-container">
			<h4>唐玺会馆企业文化</h4>
			<p>唐玺会馆以创造健康愉悦为己任，融合中国传统养生保健和欧洲养生文化，为客户提供全新的健康吸烟。优质的服务来自于高伤的健康天使们，她们用勤劳的双手把健康送到每位顾客身上，她们的工作值得我们尊重和赞美。打造“健康天使”高尚职业，让更多的人们加入到奉献健康的队伍中，快乐的工作，实现自己的价值。</p>
			<p>感恩文化</p>
			<p>快乐文化</p>
		</div>
	</div>
</div>
<div id="bottom-img-slides">
	<div class="centered-body">
		<div class="img-frame"><img src="/static/img/company-culture1.jpg"><p></p></div>
		<div class="img-frame"><img src="/static/img/company-culture2.jpg"><p></p></div>
		<div class="img-frame"><img src="/static/img/company-culture3.jpg"><p></p></div>
		<div class="img-frame"><img src="/static/img/company-culture4.jpg"><p></p></div>
	</div>
</div>
{% endblock main %}