{% extends "includes/base_info_page.html"%}

{% block main %}
<div id="banner-img">
	<img src="/static/img/banner_spa.jpg" alt="">
</div>
<div id="info_block">
	<div class="centered-body">
		<h3>唐玺会馆企业文化</h3>
		
		<p>企业理念——科学健康养生，享受幸福人生</p>
		<p>企业倡导科学医学和健康养生观念，信奉健康就是幸福和享有健康就是享受幸福生活的思想， 把享受健康生命和追求幸福生活作为会馆的最高理念来指导经营。</p>

		<p>企业宗旨——双手推敲健康，一心造福社会</p>
		<p>企业宗旨是关于企业存在的目的，对社会发展应做出的贡献
		的陈述，表明自己的事业属性和存在的价值。</p>

		<p>发展理念——铸造成功模式，锐意拓展事业</p>
		<p>企业有远大的发展目标才能生存和成长，那么如何发展，这里提出的是科学和可持续的发展观，即首先是创新和完善一种成功的可复制的经验模式，在此基础上追求快速发展。</p>

		<p>企业精神——精心精诚细致，同心同力共赢</p>
		<p>企业精神指企业员工所具有的的共同内心态度、思想境界和理想追求。它表达着企业的精神风貌和企业的风气。会馆是服务行业，直接关乎消费者的体验，只有精心精诚细致才能给消费者最良好的体验。在企业内部员工上下齐心协力才能在共同的理念下服务好客户，推动企业不断壮大。</p>

		<p>学习观念——博学培养素质，精研提升技能</p>
		<p>现代竞争激烈的环境中，学习型的企业才会有生存发展的前景，员工需要不断学习，提高基本素质和专业技能。</p>

		<p>经营理念——服务精细诚信，管理规范卓越</p>
		<p>客户满意和卓越管理是服务型企业制胜的法宝，凭借精心精诚细致服务使消费者满意，凭借规范卓越的管理支撑有效运营。</p>

		<p>核心价值——人本诚信爱心，和谐公正感恩</p>
		<p>核心价值观简单来说就是企业判断事物所依据的是非标准和遵循的行为准则，是企业处理人与人、企业与社会等各种关系的道德原则，这里两句口号提出了核心价值的六个方面，与上面的各项文化建设构件一脉相承，共同组成了会馆文化建设的基础框架。</p>
	</div>
</div>
<div id="bottom-img-slides">
	<div class="centered-body">
		<div class="img-frame"><img src="/static/img/company-culture1.jpg"><p></p></div>
		<div class="img-frame"><img src="/static/img/company-culture2.jpg"><p></p></div>
		<div class="img-frame"><img src="/static/img/company-culture3.jpg"><p></p></div>
		<div class="img-frame"><img src="/static/img/company-culture4.jpg"><p></p></div>
	</div>
</div>
{% endblock main %}