{% extends "includes/base_info_page.html"%}

{% block main %}
<div id="home-img" class="carousel slide">
	<ol class="carousel-indicators">
		<li data-target="home-img" data-slide-to="0" class="active"></li>
		<li data-target="home-img" data-slide-to="1" ></li>
		<li data-target="home-img" data-slide-to="2" ></li>
		<li data-target="home-img" data-slide-to="3" ></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active"><img src="/static/img/main_bg1.jpg" alt></div>
		<div class="item"><img src="/static/img/main_bg2.jpg" alt></div>
		<div class="item"><img src="/static/img/main_bg3.jpg" alt></div>
		<div class="item"><img src="/static/img/main_bg4.jpg" alt></div>
	</div>
	<a href="#home-img" class="left carousel-control" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a href="#home-img" class="right carousel-control" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
<script>
    $('.carousel').carousel({
    	interval: 5000
    	wrap: true
    })
</script>
{% endblock main %}
