{% extends "includes/base_info_page.html"%}

{% block main %}
<div id="banner-img"></div>
<div id="service-menu">
	<ul>
		<h4>Services 特色服务</h4>
		<li>足疗</li>
		<li>棋牌</li>
		<li>茶道</li>
		<li>SPA</li>
		<li>台球</li>
	</ul>
</div>
<div id="info_block">
	
</div>
<div id="bottom-img-slides">
	<div class="img-frame"><img src="/static/img/logo.png"/><h4>足疗1</h4></div>
	<div class="img-frame"><img src="/static/img/logo.png"/><h4>足疗1</h4></div>
	<div class="img-frame"><img src="/static/img/logo.png"/><h4>足疗1</h4></div>
</div>
{% endblock main %}