{% extends "includes/base_info_page.html"%}

{% block main %}
<div id="banner-img">
	<img src="/static/tangxi_webapp/img/banner_news.jpg" alt="">
</div>
<div id="info_block">
	<div class="centered-body">
		<div id="menu-placeholder">
		</div>
		<div class="info-container">
			<h3>{{ news_detail.name }}</h3>
			<p>{{ news_detail.date }}</p>
			<p>详情：{{ news_detail.description }}</p>
			<p><a href="/news/"><b class="back-caret"></b>返回</a></p>
		</div>
	</div>
</div>
{% endblock main %}