<div id="footer" class="black-theme">
	<div class="centered-body">
		<div class="foot-line">
		<ul>
			<li>唐玺会馆</li>
			<li>北京市朝阳区管庄杨闸环岛西北角</li>
			<li>010-52016652</li>
		</ul>
		</div>
		<div class="divider"></div>
		<div class="foot-line">
			<span>Copyright © 2013 唐玺会馆. All right reserved.</span> 
			<ul>
				<li>特色服务</li>  
				<li><a href="/news/">新闻资讯</a></li> 
				<li><a href="/company_culture/">品牌文化</a></li>   
				<li><a href="/contact/">联系我们</a></li>   
				<li><a href="/contact/">门店地图</a> </li> 
				<li><a href="/join_us/">加入我们</a></li> 
				<li><a href="/company_culture/">本店介绍</a> </li>
				<!--<a href="/photos/">本店面貌</a>-->
			</ul>
		</div>
	</div>
</div>